*{
	font-family: 'Noto Sans', sans-serif;
	margin:0px;
	padding:0x/;
}

#table{
	width:auto;
	margin-bottom:20px;
	overflow:hidden;
	border:1px solid #fff;
}

.button{
    margin-top:15px;
    margin-right:10px;
    height:42px;
    width:79px;
    float:right;
    background-color:#ae1202;
    margin:5px 5px 5px 0px;
    color:#fff;
    border:2px solid #000;
}

.button:active{
	background-color:#000;
}